.My_mothers_son_and_second_sister_header_logo{
     margin: 2rem 0; font-family: 'Gaegu', cursive;
}

.My_mothers_son_and_second_sister_header_button{
    margin-bottom: 2rem;
}

.My_mothers_son_and_second_sister_footer_logo{
    margin: 1.5rem 0; font-family: 'Gaegu', cursive;
}

.My_mothers_son_and_second_sister_footer_button{
    margin-top: 1.5rem;
}