<div style="text-align: center">
    <div class = My_mothers_son_and_second_sister_header_logo>
        <h1> My mother's son and second sister </h1>
    </div>
    <div class = My_mothers_son_and_second_sister_header_button>
        <span>1</span>
        <span>2</span>
        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                loginto!
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                joinato!
            </a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:logout' %}">
                logouto!
            </a>
        </span>
        {% endif %}
    </div>

</div>